.react-player {
  height: 90vh;
}

@media screen and (max-width: 576px) {
  .react-player {
    width: 100% !important;
    height: 25vh !important ;
  }
}
@media (min-width: 577px) {
  .react-player {
    width: 100% !important;
    height: 75vh !important;
  }
}
